<div class="col-md-10 col-md-offset-1">
	<div class="new-movie-form">
		<h1>Edit</h1>

		<%= simple_form_for @movie, html: {multipart: true} do |f| %>
			<%= f.file_field :play_img %>
			<%= f.select :genre_id, @genres %>
		  <%= f.input :title, label: "Title" %>
		  <%= f.input :description %>
		  <%= f.input :director %>
		  <%= f.button :submit %>
		<% end %>
	</div>
</div>